html {
    scroll-behavior: smooth;
   }

  p {
    margin-left: 10%;
    margin-right: 10%;
    color: white;
  }

  li {
    margin-left: 20%;
    margin-right: 20%;
  }

  pre {
    font-family: 'PTSerif-Regular';
  }

  img {
    width: 100%;
    height: 100%;
  }

  .img2 {
    width: 40%;
    height: 40%;
    margin-left: 8%;
  }

  .small {
    width: 14%;
    margin-left: 1%;
  }
  img:hover {
    transform: opacity 1;
    shadow: 5px 10px;
  }
  .img1 {
    width: 40%;
    right: 5%;
    opacity: 1;
    position: sticky;
    margin-left: 30%;
    text-align: center;
  }

  body {
      font-family: 'PTSerif-Regular';
      background-color: black;
      background-image: url("jerome.jpg");
      background-size: 65%;
      background-repeat: no-repeat;
      background-position: right bottom;
      background-attachment: fixed;
      text-align: center;
      color: white;
      text-align: justify;
      text-justify: inter-word;
      margin: 1%;
    }

  #bottom {
      background-color: white;
      color: black;
      padding: 15px;
      text-align: center;
    }

  h1 {
      color: white;
      text-align: center;
      margin-left: 15%;
      margin-right: 15%;
  }

  h2 {
      size: 6%;
      color: #8c8c8c;
      text-align: center;
      margin-left: 18%;
      margin-right: 18%;
    }

  h3 {
    size: 3%;
    color: dark grey;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    }

  .btni {
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 6%;
    border: 2px solid white;
    position: static;
    opacity: 0.5;
    margin-left: 70%;
    transition: 0.2s;
    align: center;
  }

  .btni:hover {opacity: 1}

  button {
      background-color: white;
      color: black;
      transform: scale(1.1);
      text-align: center;
  }

  button:focus {
    box-shadow: none;
    outline:0;
  }

  #fixedbtn {
    position: fixed;
    bottom: 3px;
    right: 3px;
  }

  .button1 {background-color: white;}

  .navbar {
      background-image: url("jerome3.png");
      color: green;
      opacity: 1;
      background-size: 60%;
      background-position: right;
      background-repeat: no-repeat;
      background-opacity: 0.5;
      margin: 2%;
    }

  .navbar a:hover {
      opacity: 3;
      text-decoration: underline;
    }

  .center {
      display: block;
      margin-left: 0;
      margin-right: 0;
      width: 80%;
    }

  .table__row:nth-child(even) {
      background-color: black;
  }
  .table__header {
    text-align: left;
  }

  .table {
    border-spacing: 0;
    margin: 1rem;
    background-color: black:
  }

  a {
    color: white;
  }


  #small {
    max-width: 100%;
    height: auto;
  }

  .scatter {
    position: relative;
    width: 350%;
    opacity: 0.8;
  }
  .square {
    position: center;
    width: 100%;
    opacity: 1;
  }

  .chart {
    position: static;
    width: 10%;
    top: 30%;
    left: 3%;
  }

  .chart1 {
    position: static;
    width: 10%;
    top: 60%;
    left: 3%;
  }

  .t {
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    color: white;
    margin-left: 50%;
  }

  .timeline1 {
    position: absolute;
    top: 40%;
    left: 5%;
  }

  .timeline2 {
    position: absolute;
    top: 60%;
    left: 5%;
  }
  .gender {
    position: absolute;
    top: 80%;
    left: 5%;
  }

  .sicily {
    position: absolute;
    width:8%;
    top: 77%;
    left: 64%;
  }

.rome1 {
    position: absolute;
    width:8%;
    top: 40%;
    left: 50%;
  }
.roma {
    position: absolute;
    width:8%;
    top: 50%;
    left: 55%;
  }
.palermo {
    position: absolute;
    width:8%;
    top: 75%;
    left: 56%;
  }
.napoli {
    position: absolute;
    width:8%;
    top: 43%;
    left: 62%;
  }
.sardegna {
    position: absolute;
    width:8%;
    top: 60%;
    left: 31%;
}
.imagecontainer {
    position: relative;
}
.imagecontainer button {
    position: absolute;
    cursor: pointer;
    opacity: 0.7;
}

.btn {
  margin-left: 10%;
}

.btn:hover {
    opacity: 1;
    transform: scale(1.5);
}
